# python venv folder
/.venv

# python intermediate compiled files
*.pyc

# dotenv file
.env

# Ignore database related file
*.db
*.sql
*.sqlite3

# Ignore sockets
*.sock

# Build folder and package info
/dist/
*.egg-info/

# VSCode configurations
/.vscode/
